# Redirect from www to origin;
server {
        listen 80;
        server_name www.mezei.farm;
        return 301 http://mezei.farm;
}

server {
        listen 80 default_server;
        listen [::]:80 default_server ipv6only=on;

        root /usr/share/nginx/html;
        index index.html home;

        # Make site accessible from http://localhost/
        server_name .mezei.farm;

        location / {
                set $new_request_uri "";
                set $subdomain "";

                # Check for subdomain = language code eg.: en.mezei.farm
                if ($host ~* "^(.+)\.mezei.farm$") {
                    set $subdomain $1;
                }

                # If there is no other query parameter, then add lang parameter
                if ($args = '') {
                    rewrite ^(.*)$ $1?lang=$subdomain break;
                }

                # If there are existing query parameters, add lang parameter
                if ($args !~ '') {
                    rewrite ^(.*)$ $1&lang=$subdomain break;
                }

                proxy_pass http://localhost:8090;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
        }
}
