footer
  .container
    .row
      .col-md-12
        hr
    .row
      .col-md-6
        address
          strong= text.footer_company_name
          br
          small
            abbr(title= text.footer_address) 4522 Nyírtass, Bem út 23/b.
            br
            abbr(title= text.footer_phone) +36304375490
            br
            abbr(title= text.footer_email)
              a(href='mailto:info@gardenova.hu') info@gardenova.hu
      .col-md-6.text-right.language-selector
        a(href="http://en.mezei.farm" + path) English
        a(href="http://mezei.farm" + path) Magyar
