mixin addStyle(url)
  link(rel='stylesheet', href= url media='none' onload="if(media!='all')media='all'")
  noscript
    link(rel='stylesheet', href= url)

doctype html
html
  head
    title #{title} - Mezei Farm
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/', target='_self')
    //- SEO for multi language based on
    //- http://searchengineland.com/the-ultimate-guide-to-multilingual-and-multiregional-seo-157838
    link(rel='alternate',href='http://en.mezei.farm' + path, hreflang='en')
    link(rel='alternate',href='http://mezei.farm' + path, hreflang='hu')
    link(rel='alternate',href='http://mezei.farm' + path, hreflang='x-default')
    +addStyle('/stylesheets/style.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-98815086-1', 'auto');ga('send', 'pageview');
  body
    include navbar
    block content
    include footer
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
