mixin addStyle(url)
  //- link(rel='stylesheet', href= url media='none' onload="if(media!='all')media='all'")
  link(rel='stylesheet', href= url)
  //- noscript
  //-   link(rel='stylesheet', href= url)

doctype html
html
  head
    title #{title} - Mezei Farm
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/', target='_self')
    //- SEO for multi language based on
    //- http://searchengineland.com/the-ultimate-guide-to-multilingual-and-multiregional-seo-157838
    link(rel='alternate',href='http://en.mezei.farm' + path, hreflang='en')
    link(rel='alternate',href='http://mezei.farm' + path, hreflang='hu')
    link(rel='alternate',href='http://mezei.farm' + path, hreflang='x-default')
    +addStyle('/stylesheets/style.css')
    +addStyle('/stylesheets/cookieconsent.min.css')
    //- Cookie Consent message, plugin for EU Cookie Policy/law
    script.
      window.addEventListener("load", function(){window.cookieconsent.initialise({"palette": {"popup": {"background": "#64386b","text": "#ffcdfd"},"button": {"background": "transparent","text": "#f8a8ff","border": "#f8a8ff"}},"content": {"message": "#{text.cookie_message}","dismiss": "#{text.cookie_dismiss}"},"showLink": false})});
    //- script.
    //-   <!--Start of Zendesk Chat Script-->
    //-   window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    //-   d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    //-   _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    //-   $.src="https://v2.zopim.com/?4pavZrxTL1vXoKI7wDdYQWelYeVu6Ffv";z.t=+new Date;$.
    //-   type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    //-   <!--End of Zendesk Chat Script-->
  body
    include navbar
    block content
    include footer
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="/javascripts/cookieconsent.min.js")
